<% content_for :header do %>
  <div id="menu" class="grid_8 omega">
    <ul id="nav">
        <li><%= link_to "Galerie", admin_galleries_path, :class=>"active"%></li>
    </ul>
  </div>  
<%end%>

<div id="gallery-info">
  <p>Tytuł: </p><span><%= @gallery.title%></span><br/><br/>
  <p>Krótki opis: </p><span><%= @gallery.description%></span><br/><br/>
  <%= image_tag(@gallery.photo(:medium)) %><br/><br/>
  <%= link_to "Edytuj", edit_admin_gallery_path(@gallery)%>
  <%= link_to "Cofnij", admin_galleries_path%>

  <div id="add-new-image">
    <%= form_for @image, :url => admin_gallery_images_path, :html => { :multipart => true } do |form| %>
      <%= form.hidden_field :gallery_id, :value => @gallery.id %><br />
      <p>Tytuł:</p>
      <%= form.text_field :title %><br />
      <p>Krótki opis zdjęcia:</p>
      <%= form.text_field :description %><br /><br />
      <%= form.file_field :image %><br/><br/>
      <%= form.submit "Stwórz", :class => "center" %>
    <% end %>
  </div>
</div>

<div>
  <ul>
    <% @images.each do |i| %>
    <li>
      <%= link_to image_tag(i.image(:thumb)), "" %>
      <div class="infobox"> 
        <h4><%= i.title %></h4>
        <span><%= i.description %></span>
      </div>
    </li>
    <% end %>
  </ul>
</div>
