<% content_for :header do %>
  <div id="menu" class="grid_8 omega">
    <ul id="nav">
        <li><%= link_to "Galerie", admin_galleries_path, :class=>"active"%></li>
    </ul>
  </div>  
<%end%>

<div id="gallery-info">
  <p>Tytuł: </p><span><%= @gallery.title%></span><br/><br/>
  <p>Krótki opis: </p><span><%= @gallery.description%></span><br/><br/>
  <%= image_tag(@gallery.photo(:medium)) %><br/><br/>
  <%= link_to "Edytuj", edit_admin_gallery_path(@gallery)%>
  <%= link_to "Cofnij", admin_galleries_path%>

  <div id="add-new-image">
    <%= form_for @image, :url => admin_gallery_images_path, :html => { :multipart => true } do |form| %>
      <%= form.hidden_field :gallery_id, :value => @gallery.id %><br />
      <p>Tytuł:</p><br/>
      <%= form.text_field :title %><br />
      <p>Krótki opis zdjęcia:</p><br/>
      <%= form.text_field :description %><br /><br />
      <%= form.file_field :image %><br/><br/>
      <%= form.submit "Stwórz", :class => "center" %>
    <% end %>
  </div>
</div>
<div id="image-list">
  <ul>
    <% @images.each do |i| %>
    <li>
      <%= link_to image_tag(i.image(:thumb)), "" %>
      <%= link_to image_tag("/assets/remove.png"), admin_gallery_image_path(:id => i.id, :gallery_id => @gallery.id), :method=>:delete, :confirm=>"Czy jesteś pewien że chcesz usunąćto zdjęcie ?", :class => "remove-photo" %>
    </li>
    <% end %>
  </ul>
  <div class="clear"></div>
</div>
<br class="clear"/>

