<% content_for :sidebar do %>
  <div id="menu">
    <%= link_to "portfolio", galleries_path %>
    <%= link_to "kontakt", about_page_path %>
    <%= image_tag "logo.png"%>
    <p>fotostudio</p>
  </div>
<%end%>


<dic id="galleries">
  <ul>
    <% @galleries.each do |g| %>
    <li>
      <%= link_to image_tag(g.photo(:medium)), gallery_path(g), :class=>"normal" %>
      <%= link_to image_tag(g.photo(:grayscale_medium)), gallery_path(g), :class=>"grayscale" %>
      <div class="infobox"> 
        <h4><%= g.title %></h4>
        <span><%= g.description %></span>
      </div>
    </li>
    <% end %>
  </ul>
  <div style="clear: both;"></div>
</div>

