<% content_for :header do %>
  <div id="menu" class="grid_8 omega">
    <ul id="nav">
        <li><%= link_to "Galerie", admin_galleries_path%></li>
        <li><%= link_to "Kontakt", admin_galleries_path%></li>
    </ul>
  </div>  
<%end%>

<dic id="galleries">
  <ul>
    <% @galleries.each do |g| %>
    <li>
      <%= link_to image_tag(g.photo(:medium)), "" %>
      <div class="infobox"> 
        <h4><%= g.title %></h4>
        <span><%= g.description %></span>
      </div>
    </li>
    <% end %>
  </ul>
  <div style="clear: both; height: 20px;"></div>
</div>

